.main-view{
  height: 95vh;
  position: relative;
  background-image: url('./assets/background.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size:90% auto;
  h1{
    color:white;
  }
}